@model IEnumerable<ToDoListDeloitte.Models.ToDo>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsChecked)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (!item.IsChecked)
                {
                    @Html.DisplayFor(modelItem => item.Description)
                }
                else
                {
                <div class="MarkedToDo"> @Html.DisplayFor(modelItem => item.Description)</div>
                }

            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.IsChecked, new { id = item.Id, @class = "IsActiveChecked"})
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<script src="~/CustomScripts/AddCheckBoxEventListener.js"></script>